<<<<<<< HEAD
/* body {
=======
body {
>>>>>>> 563016f0013d7b37c56339e3ab1508023d394a6d
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
<<<<<<< HEAD
} */
html, body {
  height: 100%;
  margin: auto;
}


=======
}
>>>>>>> 563016f0013d7b37c56339e3ab1508023d394a6d
